<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div class="container">

    <a href="https://www.lsst.org">
      <img class="logo" src="lsst_underline_logo.svg" alt="Large Synoptic Survey Telescope">
    </a>

    <h1 class="doc-title">Data Management System Design</h1>
    <span class="handle">LDM-148 · Document draft · <a href="https://ldm-148.lsst.io/v">Change branches</a></span>

    <ul class="properties">
      <li>Built: {{ pacific_timestring }}</li>
      {% if branch_name %}
        <li>Branch: <a href="https://github.com/lsst/LDM-148/tree/{{ branch_name }}">{{ branch_name }}</a></li>
      {% endif %}
    </ul>

    <h2>Downloads</h2>
    <ul>
      <li><a href="LDM-148.pdf">LDM-148.pdf</a></li>
    </ul>

    <p>This is a draft document. The canonical version is available in <a href="http://ls.st/LDM-148*">LSST’s DocuShare</a>.</p>

  </div>
</body>

</html>
